 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1243px;
}

.u-section-1 .u-shape-1 {
  width: 1034px;
  height: 895px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 128px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 1004px;
  height: 949px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: -922px 47px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 676px;
  height: 676px;
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -922px 64px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 605px;
  min-height: 342px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -304px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 13px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 8px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px auto 0 0;
  padding: 10px 30px 11px 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
  }

  .u-section-1 .u-shape-2 {
    width: 920px;
    height: 899px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 696px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 41px;
    padding-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    height: 607px;
    width: 683px;
    margin-right: auto;
    margin-left: 69px;
  }

  .u-section-1 .u-shape-2 {
    width: 700px;
    height: 717px;
  }

  .u-section-1 .u-image-1 {
    width: 590px;
    height: 590px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-group-1 {
    width: 633px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-1 .u-shape-1 {
    height: 544px;
    width: 505px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    height: 530px;
    width: 510px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 467px;
    height: 467px;
    margin-left: -12px;
  }

  .u-section-1 .u-group-1 {
    width: 490px;
    margin-top: -168px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-1 .u-shape-1 {
    height: 276px;
    width: 296px;
  }

  .u-section-1 .u-shape-2 {
    height: 331px;
    width: 328px;
  }

  .u-section-1 .u-image-1 {
    width: 273px;
    height: 273px;
    margin-left: 84px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  min-height: 829px;
  background-image: none;
}

.u-section-2 .u-image-1 {
  min-height: 420px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/sdsdsd-min.jpg");
}

.u-section-2 .u-container-layout-1 {
  padding: 60px 85px 120px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  width: 582px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px auto 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-align: center;
  text-transform: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px auto 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1140px;
  margin: -70px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 409px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 106px;
  width: 106px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 21px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 106px;
  width: 106px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 21px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 106px;
  width: 106px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 21px;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 106px;
  width: 106px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 21px;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-2 .u-text-11 {
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 788px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: -80px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 337px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1200px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 50px 30px 110px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 790px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1153px;
  }

  .u-section-2 .u-image-1 {
    min-height: 393px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 60px 10px 115px;
  }

  .u-section-2 .u-text-2 {
    width: 520px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: -90px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1832px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 65px;
    padding-bottom: 105px;
  }

  .u-section-2 .u-text-2 {
    width: 320px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1112px;
}

.u-section-3 .u-shape-1 {
  width: 802px;
  height: 781px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 20px;
}

.u-section-3 .u-shape-2 {
  width: 717px;
  height: 717px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -910px auto 0 0;
}

.u-section-3 .u-image-1 {
  height: 628px;
  width: 628px;
  background-image: url("images/gfgg.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -615px auto 0 121px;
}

.u-section-3 .u-group-1 {
  width: 535px;
  min-height: 449px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -230px 66px -69px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  text-align: left;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 400;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px auto 0 0;
  padding: 15px 51px 16px 50px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 191px;
  }

  .u-section-3 .u-image-1 {
    height: 596px;
    width: 596px;
  }

  .u-section-3 .u-group-1 {
    width: 499px;
    margin-top: -198px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1109px;
  }

  .u-section-3 .u-shape-1 {
    width: 685px;
    height: 742px;
    margin-top: 60px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    width: 634px;
    height: 615px;
    margin-top: -871px;
  }

  .u-section-3 .u-image-1 {
    height: 513px;
    width: 513px;
    margin-top: -513px;
    margin-right: 86px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: -115px;
    margin-bottom: -69px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-3 .u-shape-1 {
    width: 508px;
    height: 582px;
  }

  .u-section-3 .u-shape-2 {
    width: 499px;
    height: 468px;
    margin-top: -711px;
  }

  .u-section-3 .u-image-1 {
    height: 443px;
    width: 443px;
    margin-top: -384px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    width: 467px;
    margin-top: -79px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-3 .u-shape-1 {
    width: 320px;
    height: 342px;
    margin-top: 154px;
  }

  .u-section-3 .u-shape-2 {
    height: 296px;
    width: 316px;
    margin-top: -441px;
  }

  .u-section-3 .u-image-1 {
    width: 280px;
    height: 280px;
    margin-top: -244px;
  }

  .u-section-3 .u-group-1 {
    width: 306px;
    margin-top: -36px;
    margin-right: 0;
    margin-bottom: 55px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 761px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 570px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 346px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-4 .u-image-1 {
  width: 86px;
  height: 86px;
  background-image: url("images/44d5d282-18f7-4295-9493-b2865af9bf3d.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -69px 0 0 118px;
}

.u-section-4 .u-text-4 {
  font-weight: 300;
  font-size: 1rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px 0 0 118px;
}

.u-section-4 .u-text-5 {
  font-style: normal;
  line-height: 2.2;
  margin: 37px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-4 .u-image-2 {
  width: 86px;
  height: 86px;
  background-image: url("images/1222_150.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -69px 0 0 118px;
}

.u-section-4 .u-text-7 {
  font-weight: 300;
  font-size: 1rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px 0 0 118px;
}

.u-section-4 .u-text-8 {
  font-style: normal;
  line-height: 2.2;
  margin: 37px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-4 .u-image-3 {
  width: 86px;
  height: 86px;
  background-image: url("images/3e323ee9-9fff-450e-aabf-b9b006d5620c.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -69px 0 0 118px;
}

.u-section-4 .u-text-10 {
  font-weight: 300;
  font-size: 1rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px 0 0 118px;
}

.u-section-4 .u-text-11 {
  font-style: normal;
  line-height: 2.2;
  margin: 37px 0 0;
}

.u-section-4 .u-text-12 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px auto 60px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 285px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 655px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1104px;
}

.u-section-5 .u-shape-1 {
  width: 695px;
  height: 695px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 0 0 auto;
}

.u-section-5 .u-shape-2 {
  width: 735px;
  height: 670px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -745px 172px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 569px;
  height: 569px;
  background-image: url("images/1dd32027-5c5b-7c74-0785-f5737190711b.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -630px 247px 0 auto;
}

.u-section-5 .u-group-1 {
  width: 555px;
  min-height: 519px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -166px auto 10px 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  --animation-custom_in-scale: 0.3;
  margin: 14px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px auto 0 0;
  padding: 15px 51px 16px 50px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-5 .u-shape-1 {
    width: 628px;
    height: 657px;
    margin-top: 177px;
  }

  .u-section-5 .u-shape-2 {
    width: 711px;
    height: 667px;
    margin-top: -774px;
    margin-right: 89px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -636px;
    margin-right: 152px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -157px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-1 {
    width: 595px;
    height: 573px;
    margin-top: 60px;
  }

  .u-section-5 .u-shape-2 {
    width: 614px;
    height: 602px;
    margin-top: -738px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-5 .u-image-1 {
    width: 455px;
    height: 455px;
    margin-top: -521px;
    margin-right: auto;
    margin-left: 100px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -93px;
    margin-bottom: -105px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-5 .u-shape-1 {
    width: 520px;
    height: 381px;
  }

  .u-section-5 .u-shape-2 {
    height: 498px;
    width: 528px;
    margin-top: -651px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 411px;
    height: 411px;
    margin-top: -433px;
    margin-left: 52px;
  }

  .u-section-5 .u-group-1 {
    width: 433px;
    margin-top: -39px;
    margin-bottom: -210px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-5 .u-shape-1 {
    height: 238px;
    width: 328px;
  }

  .u-section-5 .u-shape-2 {
    height: 286px;
    width: 298px;
    margin-top: -262px;
  }

  .u-section-5 .u-image-1 {
    width: 247px;
    height: 247px;
    margin-top: -271px;
    margin-left: 27px;
  }

  .u-section-5 .u-group-1 {
    width: 313px;
    min-height: 573px;
    margin-top: 66px;
    margin-bottom: 36px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 859px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 100px 0;
}

.u-section-6 .u-list-1 {
  margin-top: 48px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 12.5px));
  min-height: 504px;
  grid-gap: 25px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-6 .u-icon-1 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 2px;
}

.u-section-6 .u-text-2 {
  margin: -28px 0 0 59px;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-6 .u-icon-2 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 2px;
}

.u-section-6 .u-text-3 {
  margin: -28px 0 0 59px;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-6 .u-icon-3 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 2px;
}

.u-section-6 .u-text-4 {
  margin: -28px 0 0 59px;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-6 .u-icon-4 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 2px;
}

.u-section-6 .u-text-5 {
  margin: -28px 0 0 59px;
}

.u-section-6 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-6 .u-icon-5 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 2px;
}

.u-section-6 .u-text-6 {
  margin: -28px 0 0 59px;
}

.u-section-6 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-6 .u-icon-6 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 2px;
}

.u-section-6 .u-text-7 {
  margin: -28px 0 0 59px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 549px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 27px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 42px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 27px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-left: 42px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 27px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 42px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 27px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: 42px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 27px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-left: 42px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-bottom: 27px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-left: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1039px;
    grid-template-columns: 100%;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -116px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-top: -116px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-6 .u-icon-3 {
    margin-top: -116px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-6 .u-icon-4 {
    margin-top: -116px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-6 .u-icon-5 {
    margin-top: -116px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-6 .u-icon-6 {
    margin-top: -116px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 39px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1279px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 70px;
    margin-right: 130px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1369px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1314px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: 14px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: 14px;
  }

  .u-section-6 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-6 .u-text-5 {
    margin-top: 14px;
  }

  .u-section-6 .u-icon-5 {
    margin-top: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: 14px;
  }

  .u-section-6 .u-icon-6 {
    margin-top: 0;
  }

  .u-section-6 .u-text-7 {
    margin-top: 14px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1322px;
}

.u-section-7 .u-shape-1 {
  width: 1099px;
  height: 907px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 0 0 auto;
}

.u-section-7 .u-shape-2 {
  width: 970px;
  height: 919px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -812px auto 0 0;
}

.u-section-7 .u-image-1 {
  width: 676px;
  height: 676px;
  background-image: url("images/bnnbn-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -1126px auto 0 0;
}

.u-section-7 .u-group-1 {
  width: 552px;
  min-height: 532px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -297px 98px 163px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-text-2 {
  margin: 34px auto 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  letter-spacing: 2px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 15px 41px 16px 40px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1167px;
  }

  .u-section-7 .u-shape-1 {
    height: 852px;
    width: 910px;
    margin-top: 144px;
  }

  .u-section-7 .u-shape-2 {
    width: 796px;
    height: 774px;
    margin-top: -683px;
    margin-right: 46px;
    margin-left: auto;
  }

  .u-section-7 .u-image-1 {
    width: 631px;
    height: 631px;
    margin-top: -1006px;
  }

  .u-section-7 .u-group-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-7 .u-shape-1 {
    height: 600px;
    width: 674px;
    margin-top: 60px;
  }

  .u-section-7 .u-shape-2 {
    width: 682px;
    height: 633px;
    margin-top: -689px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    width: 544px;
    height: 544px;
    margin-top: -768px;
  }

  .u-section-7 .u-group-1 {
    width: 462px;
    min-height: 594px;
    margin-top: -132px;
    margin-right: 60px;
    margin-bottom: -165px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1049px;
  }

  .u-section-7 .u-shape-1 {
    height: 622px;
    width: 520px;
    margin-right: auto;
  }

  .u-section-7 .u-shape-2 {
    height: 602px;
    width: 530px;
    margin-top: -738px;
  }

  .u-section-7 .u-image-1 {
    width: 462px;
    height: 462px;
    margin-top: -721px;
  }

  .u-section-7 .u-group-1 {
    width: 398px;
    min-height: 527px;
    margin-top: -70px;
    margin-right: 51px;
    margin-bottom: -175px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-7 .u-shape-1 {
    height: 327px;
    margin-top: 67px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-shape-2 {
    height: 340px;
    margin-top: -254px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-1 {
    width: 289px;
    height: 289px;
    margin-top: -384px;
    margin-left: auto;
  }

  .u-section-7 .u-group-1 {
    min-height: 510px;
    margin-top: 26px;
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 586px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 526px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 77px auto 0 0;
}

.u-section-8 .u-text-1 {
  font-size: 1.125rem;
  margin: -64px 0 0 100px;
}

.u-section-8 .u-text-2 {
  margin: 27px 264px 0 100px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 526px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 0 0 30px;
}

.u-section-8 .u-image-1 {
  width: 442px;
  height: 500px;
  margin: -4px 0 -4px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 520px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 38px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 104px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 160px;
    margin-left: 104px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 434px;
  }

  .u-section-8 .u-image-1 {
    width: 440px;
    height: 497px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 7px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 7px;
    margin-left: 118px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 21px;
    margin-right: 0;
    margin-left: 118px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 634px;
  }

  .u-section-8 .u-image-1 {
    width: 579px;
    height: 562px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 530px;
    height: 514px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 721px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 109px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 109px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-8 .u-image-1 {
    width: 323px;
    height: 361px;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/pexels-photo-4307641.jpeg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 702px;
}

.u-section-9 .u-icon-1 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 56px 0 0 auto;
}

.u-section-9 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px 0 0 602px;
}

.u-section-9 .u-text-2 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 0 60px 594px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 402px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 394px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    background-size: auto 130%;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 182px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-left: 105px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-left: 113px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    background-position: 31.56% 36.41%;
    background-size: auto 160%;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 813px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 693px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin: 0;
}

.u-section-10 .u-text-2 {
  font-size: 1rem;
  margin: 48px 0 0;
}

.u-section-10 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 35px auto 0 0;
  padding: 15px 51px 16px 50px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 693px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-10 .u-group-1 {
  min-height: 663px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  margin: 0 2px 0 0;
}

.u-section-10 .u-form-1 {
  height: 466px;
  margin: 23px 5px 0 0;
}

.u-section-10 .u-form-group-4 {
  margin-left: 0;
}

.u-section-10 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  width: 100%;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
  }

  .u-section-10 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}